<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notexample.austin.questicon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_questicon"
        android:label="Questicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CharacterActivity" />
        <activity android:name=".Bosses"
            android:label="List of all World of Warcraft Bosses"/>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".NavD"
            android:label="Questicon"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dungeon" />
        <activity android:name=".Mounts" />
        <activity android:name=".Pets" />
        <activity android:name=".BossesDetailView"></activity>
    </application>

</manifest>