<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notexample.austin.questicon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_pandaren"
        android:label="Questicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CharacterActivity"
            android:label="Character Search" />
        <activity
            android:name=".BossesActivity"
            android:label="Bosses">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".CharacterDetailView" />
        <activity
            android:name=".NavD"
            android:label="Questicon"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DungeonActivity"
            android:label="Dungeons">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MountsActivity"
            android:label="Mounts" />
        <activity
            android:name=".PetsActivity"
            android:label="Pets" />
        <activity android:name=".BossesDetailView" />
        <activity android:name=".DunegonDetailView" />
        <activity android:name=".MountDetailView" />
        <activity android:name=".PetDetailView" />
        <activity
            android:name=".LoreActivity"
            android:label="Lore of Warcraft Playlist" />
        <activity android:name=".DetailViewLore" />
        <activity android:name=".MediaAcitvity" />
        <activity
            android:name=".WallpaperAcitivty"
            android:label="Wallpapers" />
        <activity
            android:name=".MusicActivity"
            android:label="Music" />
        <activity
            android:name=".HordeorAllianceActivity"
            android:label="Character Chooser" />
        <activity android:name=".HorADetailView" />
        <activity android:name=".AllianceSelectActivity" />
        <activity android:name=".HordeSelectActivity" />
        <activity android:name=".UndeadActivity" />
        <activity android:name=".TrollAcitivty" />
        <activity android:name=".TaurenAcitivty" />
        <activity android:name=".OrcAcitivty" />
        <activity android:name=".BloodElfAcitivty" />
        <activity android:name=".GoblinAcitivty" />
        <activity android:name=".PandarinHordeActivity" />
        <activity android:name=".PandarinAllianceActivity" />
        <activity android:name=".WorgenActivity" />
        <activity android:name=".DraeneiAcitivity" />
        <activity android:name=".DwarfActivity"></activity>
    </application>

</manifest>