<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="badassapps.aaron.newshag">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/newhag"
        android:icon="@mipmap/ic_news"
        android:label="News Hag"
        android:logo="@drawable/newhag"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Daily Top News" />
        <activity android:name=".Top10NewsD" />
        <activity android:name=".FavoritesD" />
        <activity android:name=".WebViewForFavorites" />
        <activity android:name=".WebViewForTop10" />

        <service android:name=".PlaceholderAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name=".MySyncServices">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>


        <provider
            android:name=".AppContentProvider"
            android:authorities="badassapps.aaron.newshag.AppContentProvider"
            android:exported="false"
            android:label="my provider"
            android:syncable="true" />

        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavD"
            android:label="@string/title_activity_nav_d"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- <meta-data -->
            <!-- android:name="android.app.searchable" -->
            <!-- android:resource="@xml/searchable" /> -->
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".NavDDetailView" />
        <activity android:name=".WebViewBiz" />
        <activity android:name=".WebViewTech" />
        <activity android:name=".TechNewsDetail"></activity>
        <activity android:name=".BizNewsDetail" />
        <activity android:name=".BizDetailedBrokenUp" />
        <activity android:name=".TechDetailedBrokenUp"></activity>
    </application>

</manifest>